annotated-types==0.6.0
asgiref==3.8.0
build==1.1.1
black
click==8.1.7
Django==5.0.3
django-cors-headers==4.4.0
django-db-logger==0.1.13
django-ninja==1.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
dnspython==2.6.1
email_validator==2.1.1
gunicorn==22.0.0
idna==3.6
moto==5.0.21
numpy==1.26.4
packaging==24.0
pandas==2.2.1
pillow==11.0.0
pydantic==2.6.4
pydantic_core==2.16.3
PyJWT==2.9.0
pyproject_hooks==1.0.0
pytest==8.3.3
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-http-client==3.3.7
pytz==2024.1
sendgrid==6.11.0
six==1.16.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing_extensions==4.10.0
tzdata==2024.1
user-agents==2.2.0
whitenoise==6.9.0

psycopg==3.2.5; sys_platform != 'win32'
psycopg-binary==3.2.5; sys_platform == 'win32'

pygeohash==3.1.3
haversine==2.9.0
razorpay
django-background-task==0.1.8
django-background-tasks==1.2.8
django-apscheduler==0.6.2